%h1 My Collection
.buttons.flex
  = link_to collection_path(@collection), remote: true, id: 'generate-pdf',  data: { disable_with: "Generating recipe book..." }, class: 'btn' do
    .fas.fa-book
    Create Recipe Book
  = link_to '#', target: '_blank', style: 'display: none;', id: 'view-pdf',  data: { disable_with: "Opening..." }, class: 'btn' do
    .far.fa-file-pdf
    View PDF
.flex.flex-wrap
  - @collection.recipes.each do |recipe|
    .recipe.bg-white.p-4.m-2.rounded.overflow-hidden.shadow-md.max-w-sm
      %h3= link_to recipe.title, recipe_path(recipe)
      %p= recipe.description[0..100] + '...'
      .flex.flex-wrap.text-sm.mt-4
        .mr-2= "Posted by:"
        = mail_to recipe.user.email, "#{recipe.user.full_name}"
      .buttons.flex.justify-center.mt-2
        = link_to collection_path(recipe), method: :delete, class: 'btn' do
          .fas.fa-trash-alt
          Remove


:javascript
  document.addEventListener('turbolinks:load', () => {

    let generateLink = document.getElementById('generate-pdf');
    let viewLink = document.getElementById('view-pdf');
    let isPdfGenerated = #{current_user.collection.pdf.attached?}

    const setVisibilityOfViewPdfLink = url => {
      viewLink.href = url
      viewLink.style.display = '';
    }

    if ( isPdfGenerated === true) {
      setVisibilityOfViewPdfLink("#{rails_blob_url(@collection.pdf, disposition: "attachment") if @collection.pdf.attached?}");
    }

    generateLink.addEventListener('ajax:success', event => {
      setVisibilityOfViewPdfLink(event.detail[0].url);
    })
  })
