%h1 My Collection
#links
  = link_to "Create pdf from My Collection", collection_path(@collection), remote: true, id: 'generate-pdf',  data: { disable_with: "Generating recipe book..." } 
  = link_to "View pdf", '#', target: '_blank', style: 'display: none;', id: 'view-pdf',  data: { disable_with: "Opening..." } 
- @collection.recipes.each do |recipe|
  .recipe
    %h3= link_to recipe.title, recipe_path(recipe)
    %p= recipe.description
    %p
      Posted by:
      = mail_to recipe.user.email
    %p= link_to "Remove", collection_path(recipe), method: :delete
:javascript
  document.addEventListener("DOMContentLoaded", () => {
    let generateLink = document.getElementById('generate-pdf');
    let viewLink = document.getElementById('view-pdf');

    generateLink.addEventListener('ajax:success', event => {  
      viewLink.href = event.detail[0].url   
      viewLink.style.display = '';
    })
  })


