%h1 Add New Recipe

- if @recipe.errors.any?
  %ul
    - @recipe.errors.full_messages.each do |msg|
      %li= msg
.recipe-new.flex
= form_with model: @recipe, local: true do |form|

  %p= form.label :title
  %p= form.text_field :title

  = form.file_field :image

  %p Collection
  = form.collection_select :category_id, @categories, :id, :name, class: 'bg-white'

  %p= form.label :description
  %p= form.text_area :description
  %p= form.label :ingredients
  %p= form.text_area :ingredients
  %p= form.label :directions
  %p= form.text_area :directions
  %p= form.submit
