%h1 Add New Recipe

.recipe-new
  = form_with model: @recipe, local: true do |form|

    %h3= form.label :title
    = form.text_field :title

    %h3 Category
    #select.text-xl
      = form.collection_select :category_id, @categories, :id, :name, prompt: 'Please select a Category...', class: 'bg-white'

    %h3= form.label :description
    = form.text_area :description
    %h3= form.label :ingredients
    = form.text_area :ingredients
    %h3= form.label :directions
    = form.text_area :directions

    %h3 Image
    .overflow-hidden.relative.w-64.mt-4.mb-4
      %button.bg-orange.hover:bg-orange-dark.p-4.rounded.overflow-hidden.shadow-md.min-w-2xs.max-w-xs
        %svg{fill: "#FFF", height: "24", viewBox: "0 -4 24 24", width: "24"}
          %path{d: "M0 0h24v24H0z", fill: "none"}
          %path{d: "M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"}
        %span.mt-4.text-xl.text-white Upload image
      = form.file_field :image, class: 'cursor-pointer absolute block opacity-0 pin-r pin-t'
    .mt-4.text-xl
      = form.submit

  #preview
