%h1 Add New Recipe

.recipe-new
  = form_with model: @recipe, local: true do |form|

    %h3= form.label :title
    = form.text_field :title

    %h3 Category
    #select.text-xl
      = form.collection_select :category_id, @categories, :id, :name, prompt: 'Please select a Category...', class: 'bg-white'

    %h3= form.label :description
    = form.text_area :description
    %h3= form.label :ingredients
    = form.text_area :ingredients
    %h3= form.label :directions
    = form.text_area :directions

    %h3 Image
    .overflow-hidden.relative.w-64.mt-4.mb-4
      %input#uploader.bg-orange.p-4.rounded.overflow-hidden.shadow-md.min-w-2xs.max-w-xs.mt-4.text-xl.text-white{type: 'button', value: 'Upload image'}
      = form.file_field :image, class: 'cursor-pointer absolute block opacity-0 pin-r pin-t'
    .mt-4.text-xl
      = form.submit

  #preview

:javascript 
  (function() {
    if (typeof Turbolinks === "undefined" || Turbolinks === null) {
      location.reload;
    }

    Turbolinks.dispatch("turbolinks:load");

  }).call(this);
  document.addEventListener('turbolinks:load', () => {
    if (window.File && window.FileList && window.FileReader) {
      let button = document.getElementById('uploader')
      var filesInput = document.getElementById("recipe_image");
      button.addEventListener('click', ()=>{
        filesInput.click();
      })
      filesInput.addEventListener("change", function (event) {
        var files = event.target.files;
        var output = document.getElementById("preview");
        output.innerHTML = ''
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
          if (!file.type.match('image'))
            continue;
          var picReader = new FileReader();
          picReader.addEventListener("load", function (event) {
            var picFile = event.target;
            var div = document.createElement("div");
            div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
              "title='" + picFile.name + "'/>";
            output.insertBefore(div, null);
          });
          picReader.readAsDataURL(file);
        }
  
      });
    }
  } )
  
  
