%h1 Add New Recipe

- if @recipe.errors.any?
  %ul
    - @recipe.errors.full_messages.each do |msg|
      %li= msg

= form_with model: @recipe, local: true do |form|

  = form.label :title
  %br
  = form.text_field :title
  %br
  = form.collection_select :category_id, @categories, :id, :name
  %br
  = form.label :description
  %br
  = form.text_area :description
  %br
  = form.label :ingredients
  %br
  = form.text_area :ingredients
  %br
  = form.label :directions
  %br
  = form.text_area :directions
  %br
  = form.submit

= link_to 'Back', root_path
