%h3= @recipe.title
%p= @recipe.description
= image_tag @recipe.image unless @recipe.image.attachment.nil?
%p= @recipe.ingredients
%p= @recipe.directions
%p
  Posted by:
  = mail_to @recipe.user.email

- @recipe.comments.each do |comment|
  .box
    %p= comment.body
    %p
      Written by
      = mail_to comment.user.email

= form_with(model: [ @recipe, @recipe.comments.build ], local: true) do |form|
  - if user_signed_in?
    = form.label :body
    = form.text_area :body
    = form.submit

-if user_signed_in? && policy(@recipe).edit?
  = link_to "Edit Recipe", edit_recipe_path
  |

- if user_signed_in?
  - if current_user.collection.recipes.include?(@recipe)
    = "In Collection"
  - else
    = link_to "Add to Collection", collections_path(id:@recipe.id), method: :post

%br
= link_to "Back", root_path
