%h3= @recipe.title
%p= @recipe.description
%p= @recipe.ingredients
%p= @recipe.directions
%p
  Posted by:
  = mail_to @recipe.user.email

- @recipe.comments.each do |comment|
  .box
    %p= comment.body
    %p
      Written by
      = mail_to comment.user.email
      
= form_with(model: [ @recipe, @recipe.comments.build ], local: true) do |form|
  - if user_signed_in?
    = form.label :body
    = form.text_area :body
    = form.submit

= link_to "Edit Recipe", edit_recipe_path if current_user == @recipe.user
= link_to "Back", root_path
