.navbar.bg-white.border-b.font-semibold
  .container.mx-auto.px-2
    .flex.justify-between.border-b
      #logo.flex.items-center
        = link_to image_tag('foodhub-logo.png', class: 'w-48 mr-4'), root_path

      #login-menu.flex.items-center
        - if user_signed_in?
          .py-4.mr-4.text-grey= "Logged in as: #{current_user.email}"
          = link_to 'Sign Out', destroy_user_session_path,
                                method: :delete,
                                class: 'menu-item'
        - else
          = link_to 'Sign Up', new_user_registration_path, class: 'menu-item'
          = link_to 'Login', new_user_session_path, class: 'menu-item'
          = link_to 'Login with Facebook', user_facebook_omniauth_authorize_path, class: 'menu-item'

    .flex.justify-between
      #main-menu.flex.justify-start.items-center
        = link_to "Home", root_path, class: 'menu-item'
        - if user_signed_in?
          = link_to "My Collection", collections_path, class: 'menu-item'
          = link_to "My Profile", user_path(current_user), class: 'menu-item'
          = link_to 'New Recipe', new_recipe_path, class: 'btn'


      #search
        = form_with url: search_recipes_path, method: :post, local: true, class: 'flex' do |form|
          = form.text_field :search, placeholder: 'Search for Recipes...',
                                    class: 'bg-orange-lightest border rounded w-full px-4 py-2 mt-4'
          = form.submit raw("&#x1F50E;"), id: 'search-mag'
