%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FoodHub
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = render "layouts/navbar"
    .container.mx-auto
      -if notice || alert
        .bg-orange-lighter.border-t-4.border-orange.rounded-b.shadow
          .p-2.notice= notice
          .p-2.alert= alert
    .container.mx-auto.mt-6
      = yield
