%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FoodHub
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = render "layouts/navbar"
    .container.mx-auto
      -if notice || alert || flash[:notice]
        .flex.bg-orange-lighter.border-t-4.border-orange.rounded-b.shadow.items-center
          %svg.fill-current.h-6.w-6.text-orange-dark.m-2{viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
            %path{d: "M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"}
          .notice= notice
          .alert= alert
    .container.mx-auto.mt-6
      = yield
